.footer {
    background-color: #214076;
    color:white;
    padding: 16px;
  }

.footer .logo {
    height: 64px;
    width: auto;  /*Adjust the logo width according to the aspect ratio*/
  }

.footer .section {
    display: flex; /* Use flex layout for the sections*/
    flex-direction: column; /* Arrange the items in a column*/
    align-items: flex-start; /* Align the items to the start*/
    margin: 8px; /*Add some margin around the sections*/
  }

.footer .link {
    color: white; 
    text-decoration: none;
  }

.footer .link:hover {
    text-decoration: underline;
}
